@import "fonts";

//colors

$black:#303231;
$gray:#888888;
$ligGray:#d7d7d7;
$wh:#f2f2f2;
$liBlue:#279fd3;
$blue:#2278b4;
$darkBlue:#1e689b;
$white:#ffffff;
$red:#bb3e53;
$green:#a4bb54;


//font
$fon:'Raleway', sans-serif;





